<div class="category-list">
    <div>
        <button md-mini-fab
                (click)="add()"
        class = "blue-color">
            Add
        </button>
    </div>
    <div class="flex">
        <div class="flex-block"
             *ngFor="let category of categoryEvents">
            <button
                    class="category-event-card"
                    (click)="open(category)"
                    md-raised-button>
                <h2>{{category.title}}</h2>
                <p class="grey-color">{{category.description}}</p>
            </button>
        </div>
    </div>
</div>
<!--<div class="category-list">-->
 <!---->
<!--</div>-->